.sidenav {
  padding-block: 3rem;
}

.header {
  margin-block-start: 12px;
  padding-inline: 16px;
  border-radius: 4px;
  color: var(--mui-palette-primary-main);
  text-transform: lowercase;
}

.listItem:hover {
  a,
  path {
    color: var(--mui-palette-primary-main);
  }
}
