.app-home-root {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100% - var(--app-header-height));
}

.app-home-title {
  font-size: 15rem;
  font-weight: 600;
  animation: slideInFadeIn 1s ease-in forwards;
  opacity: 0;

  @starting-style {
  }
}

@keyframes slideInFadeIn {
  0% {
    opacity: 0; /* Start completely transparent */
    transform: translateX(-100%); /* Start off-screen to the left */
  }
  70% {
    opacity: 0.2; /* Midway point, semi-transparent */
  }
  100% {
    opacity: 1; /* End fully opaque */
    transform: translateX(0); /* End at its original position */
  }
}
