.app-header {
  padding: 20px;
  color: white;
  text-align: center;
  font-weight: "theme.typography.fontWeightMedium";
  font-size: "theme.typography.body1.fontSize";

  a,
  nav {
    display: flex;
    align-items: center;
  }

  nav {
    gap: 20px;
  }

  a:hover {
    color: var(--mui-palette-secondary-main);
  }
}
