.MuiButtonBase-root {
  &:hover {
    a,
    svg path {
      color: var(--mui-palette-primary-main);
    }
  }
}

.app-data-grid-cell-action {
  text-overflow: clip;
}

.MuiTabPanel-root {
  &[hidden] {
    display: none;
  }
}

.MuiDialog-paper {
  background: var(--mui-palette-background-default);
}
