@import "./_common.css";
@import "./_base.css";
@import "./_layout.css";

.app-brand-text-color {
  background: var(--app-brand-color-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
