.nav {
  display: grid;
  grid-template-columns: 1fr 1fr;

  section {
    display: flex;
    flex-direction: column;
    padding-inline: 1.5rem;

    &:first-child {
      gap: 0.7rem;
    }

    &:last-child {
      align-items: flex-end;
      gap: 0.2rem;

      span {
        font-style: italic;
        color: var(--mui-palette-grey-600);
        font-weight: 500;
      }
    }
  }
}

.link {
  display: flex;
  align-items: center;
  gap: 30px;
  border: 1px solid color-mix(in srgb, var(--mui-palette-grey-900) 80%, transparent);
  border-radius: 4px;
  padding: 5px;
  margin: 1px;
  width: 200px;
  color: color-mix(in srgb, var(--mui-palette-primary-main) 90%, transparent);

  &:hover {
    margin: 0;
    border: 2px solid var(--mui-palette-primary-main);
    background: rgba(43, 127, 255, 0.2);
    color: inherit;
  }
}

.createLink {
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.5;

  &:hover {
    color: var(--mui-palette-primary-main);
    text-decoration: underline;
    text-underline-offset: 3px;
  }
}
